{% sw_extends '@Shopware/documents/base.html.twig' %}

{# Use 'order' as invoice correction so it can be used by Shopware's default order document template #}
{% set order = invoiceCorrection %}

{% block document_base %}
    {% include '@PickwareErpStarter/documents/invoice-correction.css.twig' %}
    {{ parent() }}
{% endblock %}

{% block document_title_tag %}
    {{ 'pickware-erp-starter.invoice-correction-document.title' | trans({
        '%documentNumber%': config.documentNumber,
        '%invoiceNumber%': config.custom.pickwareErpReferencedInvoiceDocumentNumber
    }) | sw_sanitize }}
{% endblock %}

{% block document_headline %}
    <h1 class="headline">
        {{ 'pickware-erp-starter.invoice-correction-document.title' | trans({
            '%documentNumber%': config.documentNumber,
            '%invoiceNumber%': config.custom.pickwareErpReferencedInvoiceDocumentNumber
        }) | sw_sanitize }}
        ({{ counter.page }}/{{ pages }})
    </h1>
{% endblock %}

{% block document_payment_shipping_additional %}{% endblock %}
{% block document_payment_shipping_service_date_notice %}{% endblock %}

{# Fix amount total that is corrently display as "order.price.totalPrice" in the original summary.html.twig #}
{% block document_sum_total_price %}
    <td class="align-right">{{ order.amountTotal|currency(currencyIsoCode) }}</td>
{% endblock %}
